<!DOCTYPE html>
<html lang="en">

{{> home/_header }}

<body id="top">

    {{> home/_preloader }}

    {{> home/_nav }}

    {{{body}}}


    {{> home/_footer }}

    {{> home/_js }}

</body>

</html>