<!-- ==== footer ==== -->
<footer class="bg-light pattern1">
   <div class="container">
      <div class="row">
         <div class="col-lg-3 text-center ">
            <img src="img/logo.png" class="logo-footer img-fluid" alt="" />
            <!-- Start Social Links -->
            <ul class="social-list text-center list-inline">
               <li class="list-inline-item"><a title="Facebook" href="https://www.facebook.com/huggabulldog"><i
                        class="fab fa-facebook-f"></i></a></li>
            </ul>
            <!-- /End Social Links -->
         </div>
         <!--/ col-lg -->
         <div class="col-lg-3">
            <h5>About us</h5>
            <!--divider -->
            <hr class="small-divider left" />
            <p class="mt-3">Your One Stop Shop Bull Dog Breeder</p>
         </div>
         <!--/ col-lg -->
         <div class="col-lg-3">
            <h5>Contact Us</h5>
            <!--divider -->
            <hr class="small-divider left" />
            <ul class="list-unstyled mt-3">
               <li class="mb-1"><i class="fas fa-phone margin-icon "></i>(+63) 950-3839-899</li>
               <li class="mb-1"><i class="fas fa-envelope margin-icon"></i><a
                     href="mailto:email@yoursite.com">huggabulldogph@gmail.com</a></li>
               <li><i class="fas fa-map-marker margin-icon"></i>Santo Tomas City, Batangas </li>
            </ul>
            <!--/ul -->
         </div>
         <!--/ col-lg -->
         <div class="col-lg-3">
            <h5>Working Hours</h5>
            <!--divider -->
            <hr class="small-divider left" />
            <ul class="list-unstyled mt-3">
               <li class="mb-1">Open from 9am - 6pm</li>
               <li class="mb-1">Holidays - Closed</li>
               <li>Weekends - Closed</li>
            </ul>
            <!--/ul -->
         </div>
         <!--/ col-lg -->
      </div>
      <!--/ row-->
      <hr />
      <div class="row">
         <div class="credits col-sm-12">
            <p>&copy; Copyright 2019 @ huggabulldog</p>
         </div>
      </div>
      <!--/col-lg-12-->
   </div>
   <!--/ container -->
   <!-- Go To Top Link -->
   <div class="page-scroll hidden-sm hidden-xs">
      <a href="#top" class="back-to-top"><i class="fa fa-angle-up"></i></a>
   </div>
   <!--/page-scroll-->
</footer>
<!--/ footer-->