<div class="jumbotron jumbotron-fluid" data-center="background-size: 100%;" data-top-bottom="background-size: 110%;">
    <div class="container">
        <!-- jumbo-heading -->
        <div class="jumbo-heading" data-aos="fade-up">
            <h1>Gallery</h1>
            <!-- Breadcrumbs -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Gallery</li>
                </ol>
            </nav>
            <!-- /breadcrumb -->
        </div>
        <!-- /jumbo-heading -->
    </div>
    <!-- /container -->
</div>
<!-- /jumbotron -->
<!-- ==== Page Content ==== -->
<div class="page pb-0">
    <div class="container mb-5">
        <div class="row">
            <div class="col-md-6">
                <h2>Quality Services</h2>
                <span class="h7 mt-0">We offer quick & easy services for cats and dogs, accumsan felis id, fermentum
                    purus. Quisque vitae hendrerit elit. </span>
                <hr class="small-divider left">
            </div>
            <div class="col-md-6">
                <p class="mt-4">
                    Quisque at odio nunc. Etiam ac nibh egestas, accumsan felis id, fermentum purus. Quisque vitae
                    hendrerit elit. Maecenas ipsum mi, iaculis quis mattis cursus, auctor ac magna. Integer felis metus,
                    aliquet in dignissim ut, varius et odio. Donec malesuada diam quis dignissim suscipit. Praesent
                    purus turpis, tristique hendrerit
                </p>
            </div>
        </div>
    </div>
    <div id="gallery-isotope" class="mt-5 tz-gallery">
        <!-- image -->
        <div class="isotope-item col-lg-4 col-md-6 ">
            <a class="baguette-lightbox" href="img/gallery/gallery1.jpg">
                <img class="img-fluid" src="img/gallery/gallery1.jpg" alt="">
                <div class="title">
                    <!-- title -->
                    <p>Our Expert dog trainers</p>
                </div>
            </a>
        </div>
        <!-- image -->
        <div class="isotope-item col-lg-4 col-md-6">
            <a class="baguette-lightbox" href="img/gallery/gallery2.jpg">
                <img class="img-fluid" src="img/gallery/gallery2.jpg" alt="">
                <!-- title -->
                <div class="title">
                    <p>Charlie the Kittie got adopted</p>
                </div>
            </a>
        </div>
        <!-- image -->
        <div class="isotope-item col-lg-4 col-md-6">
            <a class="baguette-lightbox" href="img/gallery/gallery3.jpg">
                <img class="img-fluid" src="img/gallery/gallery3.jpg" alt="">
                <!-- title -->
                <div class="title">
                    <p>Samantha training Jo</p>
                </div>
            </a>
        </div>
        <!-- image -->
        <div class="isotope-item col-lg-4 col-md-6">
            <a class="baguette-lightbox" href="img/gallery/gallery4.jpg">
                <img class="img-fluid" src="img/gallery/gallery4.jpg" alt="">
                <!-- title -->
                <div class="title">
                    <p>Cute guinea pigs</p>
                </div>
            </a>
        </div>
        <!-- image -->
        <div class="isotope-item col-lg-4 col-md-6">
            <a class="baguette-lightbox" href="img/gallery/gallery5.jpg">
                <img class="img-fluid" src="img/gallery/gallery5.jpg" alt="">
                <!-- title -->
                <div class="title">
                    <p>Feeding time</p>
                </div>
            </a>
        </div>
        <!-- image -->
        <div class="isotope-item col-lg-4 col-md-6">
            <a class="baguette-lightbox" href="img/gallery/gallery6.jpg">
                <img class="img-fluid" src="img/gallery/gallery6.jpg" alt="">
                <!-- title -->
                <div class="title">
                    <p>Lilla is a beautiful bengal cat that needs a home!</p>
                </div>
            </a>
        </div>
        <!-- image -->
        <div class="isotope-item col-lg-4 col-md-6">
            <a class="baguette-lightbox" href="img/gallery/gallery7.jpg">
                <img class="img-fluid" src="img/gallery/gallery7.jpg" alt="">
                <!-- title -->
                <div class="title">
                    <p>Teaching dogs to stay by your side while on walks </p>
                </div>
            </a>
        </div>
        <!-- image -->
        <div class="isotope-item col-lg-4 col-md-6">
            <a class="baguette-lightbox" href="img/gallery/gallery8.jpg">
                <img class="img-fluid" src="img/gallery/gallery8.jpg" alt="">
                <!-- title -->
                <div class="title">
                    <p>We love our job</p>
                </div>
            </a>
        </div>
        <!-- image -->
        <div class="isotope-item col-lg-4 col-md-6">
            <a class="baguette-lightbox" href="img/gallery/gallery9.jpg">
                <img class="img-fluid" src="img/gallery/gallery9.jpg" alt="">
                <!-- title -->
                <div class="title">
                    <p>Grooming Nina </p>
                </div>
            </a>
        </div>
        <!-- /isotope-item -->
    </div>
    <!-- /gallery-isotope -->
</div>
<!-- /page -->